.affair__hero {
  margin-bottom: 50px;
  display: flex;
}

.affair__hero__box2 {
  width: 100%;
  height: 800px;
}
.affair__hero__box2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.affair__slider {
  margin-top: 200px;
}

/* MED affair */
.med__affiar > .container {
  display: flex;
  padding-top: 200px;
  padding-bottom: 100px;
}
.med__affiar__name {
  width: 30%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 62px;
  color: #171b1e;
}
.med__affiar__cards {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.med__affiar__cards > .departments__box2__child {
  width: 32%;
}
.med__affiar__cards > .departments__box2__child > div > .link{
  color: #EA5942;
}
.med__affiar__cards > .departments__box2__child:hover > div > .link{
  color: #fff;
}



















































