.est-info {
  border: 1px solid #848488;
  margin-bottom: 200px;
}
.est-info__blog {
  display: flex;
}

.est-info__blogs {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.est-info__blog-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 110%;
  color: #171b1e;
  padding: 39px 24px;
  max-width: 411px;
  margin: 0;
}

.est-info__blogs-info {
  width: 720px;
  height: 481px;
  padding: 132px 24px;
  background: #13976e;
}

.est-info__blogs-info__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #ffffff;
  margin-bottom: 25px;
}

.est-info__blogs-info__links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.est-info__blogs-info__link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #ffffff;
}

.est-info__blogs2-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #171b1e;
  padding: 39px 25px 79px;
  border-left: 1px solid #848488;
}

.est-info__blogs3 {
  padding-top: 54px;
  padding-left: 24px;
  width: 514px;
  border-right: #848488 1px solid;
}
.est-info__blogs3-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140.02%;
  color: #171b1e;
  margin-bottom: 25px;
  max-width: 453px;
}

.est-info__blogs-info__link2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #ea5942;
}

.est-info__blogs4 {
  padding: 47px 43px;
  max-width: 925px;
}

.est-info__blogs4-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 110%;
  color: #171b1e;
}

.voluputate-info__blog {
  display: flex;
  border-top: #848488 1px solid;
}

.voluputate-info__blogs {
  border-left: 1px solid #848488;
}

.voluputate {
  padding: 21px 25px;
  height: 423px;
  width: 100%;
}

.voluputate-title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 140.02%;
  color: #171b1e;
  margin-bottom: 20px;
}

.voluputate-text {
  max-width: 576px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140.02%;
  color: #171b1e;
  margin-bottom: 25px;
}

.etiam {
  height: 426px;
  background: #13976e;
  padding: 60px 25px;
  width: 718px;
}

.etiam-title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 140.02%;
  color: #ffffff;
  margin-bottom: 20px;
}

.etiam-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140.02%;
  color: #ffffff;
  margin-bottom: 25px;
  width: 576px;
}
.est-info__blogs2{
  display: flex;
  flex-direction: column;
}
.est-info__blogs2 img{
  width: 100%;
}
.est-info__blogs2-text{
  padding-bottom: 28px;
}
.est-info__blog-title{
  padding-bottom: 12px;
}
.est-info__blogs-info{
  height: 486px;
}

@media (max-width: 1440px) {
  .container {
    width: 1366px;
  }
  .est-info__blogs {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .est-info__blogs-info {
    width: 100%;
    height: 455px;
  }
  .est-info__blogs-info__links {
    width: 300px;
  }
  .est-info__blogs2 {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .est-info__blogs2 img {
    width: 100%;
  }
  .voluputate-info__blog > img {
    width: 50%;
  }
  .voluputate-info__blogs {
    width: 50%;
  }
  .etiam {
    width: 100%;
  }
}
@media (max-width: 1367px) {
  .container {
    width: 1200px;
    visibility: none;
  }
  .est-info__blogs-info {
    width: 100%;
    height: 100%;
  }
  .est-info__blogs2-text {
    padding-bottom: 46px;
  }
  .est-info__blogs2 img {
    width: 100%;
    height: 100%;
  }

  .est-info__blogs3 {
    padding-left: 24px;
    padding-right: 10px;
    width: 100%;
  }
  .est-info__blogs3-text {
    max-width: 100%;
  }
  .est-info__blogs-info{
    height: 470px;
  }
  .est-info__blogs2-text{
    padding-bottom: 0px;
  }
  .est-info__blog-title{
    padding-bottom: 17.5px;
  }
}
@media (max-width: 1201px) {
  .container {
    width: 1080px;
  }
  .etiam-text{
    width: 100%;
  }
  .est-info__blogs2-text {
    padding-bottom: 0px;
  }
  .est-info__blog-title{
    padding-bottom: 50px;
  }
  .est-info__blogs-info{
    height: 450px;
  }
}
@media (max-width: 1081px) {
  .container {
    width: 90%;
  }
  .top_esst-info__blog{
    display: block;
  }
  .est-info__blogs{
    width: 100%;
  }
  .est-info__blogs2{
    width: 100%;
  }
  .est-info__blogs3{
    border: none;
  }
  .voluputate-info__blogs{
    border: none;
  }
  .est-info__blogs2-text{
    border: none;
  }
}
@media (max-width: 993px) {
  .container {
    width: 90%;
  }
  .top_esst-info__blog{
    display: block;
  }
  .est-info__blogs{
    width: 100%;
  }
  .est-info__blogs2{
    width: 100%;
  }
  .est-info__blogs3{
    border: none;
  }
  .voluputate-info__blogs{
    border: none;
  }
  .est-info__blogs2-text{
    border: none;
  }
  .voluputate-info__blog{
    display: block;
  }
  .voluputate-info__blog img{
    width: 100%;
    height: 480px;
  }
  .voluputate-info__blogs{
    display: flex;
    gap: 0px;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .voluputate{
    width: 50%;
  }
  .voluputate img{
    width: 40px;
    height: 10px;
  }
  .etiam{
    width: 50%;
  }
  .etiam img{
    width: 40px;
    height: 10px;
  }
}
@media (max-width: 769px) {
  .container {
    width: 90%;
  }
  .est-info__blogs3-text{
    font-family: "Open Sans";
    line-height: 40px;
    font-size: 24px;
  }
  .est-info__blogs4{
    padding: 22px;
  }
  .est-info__blogs4-title {
    font-size: 36px;
    line-height: 100%;
  }
  .est-info__blogs-info{
    padding: 34px 24px;
  }
  .est-info__blogs3{
    border: none;
  }
  .voluputate-info__blogs{
    border: none;
  }
  .est-info__blogs2-text{
    border: none;
  }
  .voluputate{
    margin-bottom: 5rem;
  }
}
@media (max-width: 576px) {
  .container {
    width: 96%;
  }
  .est-info__blogs3-text{
    font-family: "Open Sans";
    line-height: 40px;
    font-size: 24px;
  }
  .est-info__blogs4{
    padding: 22px;
  }
  .est-info__blogs4-title {
    font-size: 36px;
    line-height: 100%;
  }
  .est-info__blogs-info{
    padding: 24px 24px;
  }
  .est-info__blogs3{
    border: none;
  }
  .voluputate-info__blogs{
    border: none;
  }
  .voluputate{
    margin-bottom: 5rem;
  }
  .est-info__blogs2-text{
    border: none;
  }
}
@media (max-width: 414px) {
  .container {
    width: 96%;
  }
  .est-info__blog-title{
    font-size: 44px;
    max-width: 100%;
  }
  .est-info__blogs-info{
    padding: 24px 24px;
  }
  .voluputate{
    margin-bottom: 5rem;
  }
  .est-info__blogs3{
    border: none;
  }
  .voluputate-info__blogs{
    border: none;
  }
  .est-info__blogs2-text{
    border: none;
  }
}
@media (max-width: 375px) {
  .container {
    width: 96%;
  }
  .est-info__blog-title{
    font-size: 44px;
    max-width: 100%;
  }
  .est-info__blogs-info{
    padding: 24px 24px;
  }
  .voluputate{
    margin-bottom: 5rem;
  }
  .est-info__blogs3{
    border: none;
  }
  .voluputate-info__blogs{
    border: none;
  }
  .est-info__blogs2-text{
    border: none;
  }
}