
.Est {
  margin-bottom: 200px;
}
.est-info {
  border: 1px solid #848488;
}
.est-info__blogs-info__link.est-info {
  border: 1px solid #848488;
  margin-bottom: 200px;
}
.est-info__blog {
  display: flex;
}

.est-info__blogs {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.est-info__blogs2{
  width: 50%;
}
.est-info__blog-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 110%;
  color: #171b1e;
  padding: 0px 24px;
  padding-top: 39px;
  margin: 0px;
  max-width: 100%;
}

.est-info__blogs-info {
  width: 100%;
  padding: 50px 50px;
  background: #13976e;
}

.est-info__blogs-info__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #ffffff;
  margin-bottom: 25px;
}

.est-info__blogs-info__links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.est-info__blogs-info__link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #ffffff;
}
.est-info__blogs-info__link:hover {
  color: #fff;
}
.est-info__blogs2 img {
  height: 486px;
  object-fit: cover;
}
.est-info__blogs2-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #171b1e;
  padding: 39px 25px 79px;
  border-left: 1px solid #848488;
}

.est-info__blogs3 {
  padding-top: 54px;
  padding-left: 24px;
  width: 514px;
  border-right: #848488 1px solid;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 70px;
  color: #171b1e;
}

.est-info__blogs-info__link2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #ea5942;
}

.est-info__blogs4 {
  padding: 47px 43px;
  max-width: 925px;
}

.est-info__blogs4-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 110%;
  color: #171b1e;
}

.voluputate-info__blog {
  display: flex;
}
.voluputate-info__blog__img {
  width: 50%;
}
.voluputate-info__blogs {
  width: 50%;
}

.voluputate {
  padding: 21px 25px;
  height: 423px;
  width: 100%;
}

.etiam {
  background: #13976e;
  padding: 60px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.etiam ul li {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  color: #ffffff;
  margin-bottom: 20px;
}
.etiam-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 140.02%;
  color: #ffffff;
  margin-bottom: 20px;
}

.est-info__blogs2 {
  display: flex;
  flex-direction: column;
}
.est-info__blogs2 img {
  width: 100%;
}
.est-info__blogs2-text {
  padding-bottom: 28px;
}
.est-info__blog-title {
  padding-bottom: 12px;
}
.est-info__blogs-info {
  height: 486px;
}


.est-info {
  text-align: justify;
}
.est-info__blogs4-title {
  text-align: start;
}

@media (max-width: 1530px){ 
  .Est > .container{
    width: 90%;
  }
  .top_esst-info__blog{
    display: block;
  }
  .est-info__blogs{
    width: 100%;
  }
  .est-info__blogs-info {
    height: 300px;
  }
  .est-info__blogs2{
    width: 100%;
  }
  .middle_esst-info__blog{
    display: block;
  }
  .est-info__blogs3{
    border-right: none;
    padding: 20px 43px;
    width: 100%;
  }
  .est-info__blogs4{
    width: 100%;
    max-width: 100%;
    padding: 20px 43px;
  }
  .voluputate-info__blog{
    display: block;
  }
  .voluputate-info__blog__img{
    width: 100%;
    height: 100%;
  }
  .etiam{
    width: 100%;
  }
}

/* laptop width HDTV 1080px */
@media (max-width: 1081px){ 
  .est-info__blogs-info {
    height: 400px;
  }
  .est-info__blogs3{
    font-weight: 400;
    font-size: 52px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .est-info__blogs4-title{
    font-weight: 400;
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 10px;
  }
}

/* laptop width iPAD MINI 768px */
@media (max-width: 769px){
  .est-info__blogs-info {
    height: 450px;
  }
 }
@media (max-width: 650px){
  .est-info__blogs-info {
    height: 520px;
  }
  .est-info__blog-title{
    font-weight: 400;
    font-size: 42px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .est-info__blogs-info{
    padding: 39px 24px 12px;
    height: 100%;
  }
  .est-info__blogs-info__text{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    margin-bottom: 10px;
    text-align: justify;
  }
  .est-info__blogs2-text{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000;
    margin-bottom: 10px;
    text-align: justify;
    border-left: none;
  }
  .est-info__blogs-info__link{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    margin-bottom: 10px;
    text-align: justify;
  }
  .est-info__blogs3{
    font-weight: 400;
    font-size: 32px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .est-info__blogs4-title{
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 10px;
  }
  .est-info__blogs4{
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
/* laptop width Grid Bootstrap 992px */
@media (max-width: 577px){ }
/* laptop width SURFACE DUO 540px */
@media (max-width: 541px){
  .etiam ul li{
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
    text-align: start;
  }
 }
/* laptop width (IPHONE XR) 414px */
@media (max-width: 415px){ }
/* laptop width (GALAXY A51/71) && (GLAXY S20 ULTRA) 412px */
@media (max-width: 413px){ }
/* laptop width (PIXEL 5) 393px */
@media (max-width: 394px){
  .etiam ul li{
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .est-info__blogs-info__links{
    margin-top: 30px;
  }
  .est-info__blogs-info__links a{
    margin-bottom: 0px;
  }
 }
/* laptop width (IPHONE 12 PRO) 390px */
@media (max-width: 391px){ }
/* laptop width (GALAXY S8+) 360px */
@media (max-width: 361px){ }
/* laptop width (IPHONE SE) 375px */
@media (max-width: 376px){ }
/* laptop width Galaxy FOLD 280px */
@media (max-width: 281px){
  .est-info__blogs3{
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .est-info__blogs4-title{
    font-size: 18px;
    line-height: 18px;
  }
  .est-info__blogs4{
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
 }