
.Est {
  margin-bottom: 200px;
}
.est-info {
  border: 1px solid #848488;
}
.est-info__blogs-info__link.est-info {
  border: 1px solid #848488;
  margin-bottom: 200px;
}
.est-info__blog {
  display: flex;
}

.top_esst-info__blog{
  /* border: 1px solid red; */
}

.est-info__blogs {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.est-info__blogs2{
  width: 50%;
}
.est-info__blog-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 110%;
  color: #171b1e;
  padding: 0px 24px;
  padding-top: 39px;
  margin: 0px;
  max-width: 100%;
}

.est-info__blogs-info {
  width: 100%;
  padding: 50px 50px;
  background: #13976e;
}

.est-info__blogs-info__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #ffffff;
  margin-bottom: 25px;
}

.est-info__blogs-info__links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.est-info__blogs-info__link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #ffffff;
}
.est-info__blogs-info__link:hover {
  color: #fff;
}
.est-info__blogs2 img {
  height: 486px;
  object-fit: cover;
}
.est-info__blogs2-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #171b1e;
  padding: 39px 25px 79px;
  border-left: 1px solid #848488;
}

.est-info__blogs3 {
  padding-top: 54px;
  padding-left: 24px;
  width: 514px;
  border-right: #848488 1px solid;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 70px;
  color: #171b1e;
}

.est-info__blogs-info__link2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #ea5942;
}

.est-info__blogs4 {
  padding: 47px 43px;
  max-width: 925px;
}

.est-info__blogs4-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 110%;
  color: #171b1e;
}

.voluputate-info__blog {
  display: flex;
}
.voluputate-info__blog__img {
  width: 50%;
}
.voluputate-info__blogs {
  width: 50%;
}

.voluputate {
  padding: 21px 25px;
  height: 423px;
  width: 100%;
}

.etiam {
  background: #13976e;
  padding: 60px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.etiam ul li {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  color: #ffffff;
  margin-bottom: 20px;
}
.etiam-title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 140.02%;
  color: #ffffff;
  margin-bottom: 20px;
}

.est-info__blogs2 {
  display: flex;
  flex-direction: column;
}
.est-info__blogs2 img {
  width: 100%;
}
.est-info__blogs2-text {
  padding-bottom: 28px;
}
.est-info__blog-title {
  padding-bottom: 12px;
}
.est-info__blogs-info {
  height: 486px;
}


.est-info {
  text-align: justify;
}
.est-info__blogs4-title {
  text-align: start;
}