
.footer-info{
  display: flex;
  justify-content: space-between;
}

.footer-text{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
footer {
  background: #13976e;
  padding-bottom: 30px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-info__box1 {
  width: 40%;
}
.footer-info__box2 {
  width: 60%;
}

.footer-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  width: 361px;
  margin-bottom: 33px;
}
.footer-sedcras-link {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #fff;
  background-color: #13976e;
  outline: none;
  width: 100%;
  padding: 5px 10px;
  border: none;
}
.footer-sedcras-link::placeholder {
  color: #fff;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
}
.footer-links {
  display: flex;
  justify-content: space-around
}
.footer-item {
  margin-bottom: 47px;
}

.footer-sedcras-links {
  display: flex;
  align-items: center;
  width: 500px;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid #fff;
}
.footer-link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 29px;
  color: #ffffff;
}
.footer-link:hover {
  color: #fff;
}
.koko{
  background-color: #13976e;
  text-align: center;
  padding-bottom: 10px;
}
.koko > a{
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.koko > a > span{
  color: yellow;
}


/* laptop width Acer Aspire for 1366px */
@media (max-width: 1367px) {
  footer .container{
    width: 90%;
  }
  .footer-info {
    display: block;
  }
  .footer-info__box1 {
    width: 100%;
  }
  .footer-info__box2{
    width: 100%;
  }
  .footer-sedcras-links{
    width: 100%;
  }
}
/* laptop width iPAD MINI 768px */
@media (max-width: 769px) {
  .footer-links {
    display: flex;
    gap: 50px;
  }
}
/* laptop width Grid Bootstrap 992px */
@media (max-width: 577px) {
  .footer-info {
    display: block;
  }
  .footer-sedcras-links {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
  }
  .footer-text{
    font-size: 18px;
    line-height: 18px;
    width: 100%;
  }
  .footer-info__box2{
    padding-top: 20px;
  }
  .footer-links{
    width: 100%;
    gap: 0px;
  }
  .footer-link {
    font-size: 18px;
    line-height: 22px;
  }
}
/* laptop width (IPHONE SE) 375px */
@media (max-width: 376px) {
  .footer-info__box1 {
    text-align: center;
  }
  .footer-info__box1 img{
    width: 150px;
    height: 150px;
  }
  .footer-link {
    font-size: 12px;
    line-height: 15px;
  }
}
/* laptop width Galaxy FOLD 280px */
@media (max-width: 281px) {

}
