.Lastesnews{
  padding-top: 25px;
}

.lastes-title{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 140%;
  color: #171B1E;
  margin-bottom: 24px;
}

.lastes-news{
  display: flex;
  gap: 15px;
  margin-bottom: 45px;
}

.lastes-news-img1{
  height: 500px;
  margin-bottom: 43px;
  background-color: #EA5942;
}
.lastes-info{
  border-bottom: 1px solid #848488;
}
.lastes-info__texts{
  height: 249px;
  width: 460px;
}

.lastes-info__data{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: #13976E;
}

.lastes-info__title{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
  color: #171B1E;
  max-width: 459px;
}

.lastes-info__info{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #171B1E;
  max-width: 459px;
  text-align: justify;
}

.lastes-news-img2{
  height: 500px;
  margin-bottom: 32px;
}

.mb-106{
  margin-bottom: 106px;
}

.mb-81{
  margin-bottom: 81px;
}

.lastes-news-img3{
  height: 500px;
  margin-bottom: 22px;
}

.view-more-btn{
  border: 1px solid blue;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 140%;
  color: #EA5942;
  height: 70px;
  border: 1px solid #EA5942;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  cursor: pointer;
  width: 100%;
}
.lastes-news-img{
  width: 470px;
  object-fit: cover;
}

@media (max-width: 1530px){ 
  .Lastesnews > .container{
    width: 90%;
  }
  .lastes-news{
    display: block;
  }
  .lastes-news-img1{
    width: 100%;
    height: 400px;
  }
  .lastes-news-img2{
    width: 100%;
    height: 400px;
  }
  .lastes-news-img3{
    width: 100%;
    height: 400px;
  }
  .lastes-info__texts{
    height: 200px;
    width: 100%;
    border-bottom: 1px solid #848488;
    padding-bottom: 1rem !important;
  }
  .lastes-info__data{
    text-align: end;
  }
  .lastes-info__title{
    max-width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }
  .lastes-info__info{
    max-width: 100%;
    text-align: center;
  }
  .view-more-btn{
    font-size: 28px;
  }
  .lastes-info{
    border-bottom: none;
  }
  .lastes-info__1{
    margin-bottom: 50px;
  }
  .lastes-info__texts{
    border-bottom: none;
    text-align: justify;
  }
  .lastes-news-img{
    width: 100%;
    height: 100%;
  }  
}

/* laptop width HDTV 1080px */
@media (max-width: 1081px){
  .lastes-info__texts{
    height: 300px;
  }
  .lastes-info__texts{
    padding-top: 2rem;
  }
  .lastes-info__data{
    margin-bottom: 1rem;
  }
  .lastes-info__info{
    padding-bottom: 1rem;
  }
  .lastes-info__texts p{
    text-align: justify;
  }
  .lastes-info__1{
    margin-bottom: 200px;
  }
  .lastes-info__title{
    text-align: justify;
    font-size: 27px;
    line-height: 140%;
    max-width: 100%;
  }
 }
/* laptop width SURFACE DUO 540px */
@media (max-width: 541px){
  .lastes-info__texts{
    height: 350px;
  }
  .lastes-info__1{
    margin-bottom: 250px;
  }
  .lastes-info__title{
    font-size: 22px;
    line-height: 140%;
  }
}
/* laptop width (IPHONE XR) 414px */
@media (max-width: 415px){
  .lastes-info__texts{
    height: 400px;
  }
  .lastes-info__1{
    margin-bottom: 350px;
  }
  .lastes-info__texts{
    margin-bottom: 0px !important;
    padding: 0px;
  }
  .lastes-info__3{
    display: none;
  }
  .media__media{
    margin-top: 100px;
  }
  .lastes-info__title{
    font-size: 24px;
    line-height: 140%;
  }
 }
/* laptop width (PIXEL 5) 393px */
@media (max-width: 394px){ 
  .lastes-info__texts{
    height: 0px;
    padding: 0px;
  }
  .lastes-title{
    font-size: 50px;
  }
  .view-more-btn{
    margin-top: 400px;
  }
  .media__media__1{
    margin-top: 700px;
  }
  .media__media{
    margin-top: 300px;
    margin-bottom: 300px;
  }
}
/* laptop width (IPHONE SE) 375px */
@media (max-width: 376px){
  .lastes-info__texts{
    height: 0px;
  }
  .lastes-title{
    font-size: 45px;
  }
  .media__media{
    margin-top: 400px;
    margin-bottom: 400px;
  }
  .media__media__1{
    margin-top: 700px;
  }
 }
/* laptop width Galaxy FOLD 280px */
@media (max-width: 281px){ 
  .lastes-info__texts{
    height: 550px;
  }
  .lastes-title{
    font-size: 40px;
  }
  .lastes-info__texts{
    height: 0px;
  }
  .media__media{
    margin-top: 400px;
    margin-bottom: 300px;
  }
  .media__media__1{
    margin-top: 800px;
  }

}

