.Lectus {
  background: #fff;
  padding-bottom: 50px;
  padding-top: 50px;
}
.Lectus > .container > img{
  width: 100%;
  height: 100%;
} 

@media (max-width: 1530px){ 
  .Lectus > .container{
    width: 90%;
  }
}