.Newsletter{
  width: 100%;
  height: 485px;
  background: #13976E;
  padding-top: 98px;
  margin-bottom: 100px;
}

.newsletter-info__info{
  display: flex;
  justify-content: center;
}

.newsletter-info__info-title{
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 130.52%;
  color: #FFFFFF;
  margin-bottom: 5px;
}

.newsletter-info__text{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130.52%;
  color: #FFFFFF;
  max-width: 409px;
  margin-bottom: 32px;
}

.newsletter-info__send{
  display: flex;
  margin: 0 auto;
  width: 717px;
  height: 71px;
}

.newsletter-info__input{
  width: 100%;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 130.52%;
  color: #fff !important;
  padding: 22px;
  background: #13976E;
  outline: none;
  border: 1px solid #fff;
}

.newsletter-info__input::placeholder{
  color: #fff;
}

.newsletter-info__btn{
  width: 260px;
  height: 71px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130.52%;
  color: #EA5942;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: #fff;
  cursor: pointer;
}

@media (max-width: 1281px){
  .container{
    width: 90%;
  }
}
@media (max-width: 993px) {
  .newsletter-info__send{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .newsletter-info__input{
    width: 100%;
    font-size: 21px;
    line-height: 130.52%;
    padding: 22px;
  }
  
  .newsletter-info__btn{
    width: 100%;
    height: 0px;
    padding: 35px;
    font-size: 24px;
    line-height: 130.52%;
    margin-top: 10px;
  }
}
