.help {
  margin-top: 50px;
  margin-bottom: 166px;
}
.help h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 64px;
  color: #13976e;
  text-align: center;
  margin-bottom: 50px;
}

.accordion {
  max-width: 100%;
  margin: 2rem auto;
}
.accordion-item {
  border-top: 1px solid #848488;
}
.accordion-item:last-child {
  border-bottom: 1px solid #848488;
}
.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.5s linear;
  padding: 1rem;
}
.accordion-content_1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: #171b1e;
  margin-bottom: 24px;
}
.accordion-content {
  transition: all 0.5s linear;
  cursor: pointer;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #606060;
  padding-right: 580px;
  margin-bottom: 119px;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }

  .accordion {
    width: 90%;
  }
}
